@model lab5.ClassLibrary.lab3DTO
@{
    ViewData["Title"] = "PR3";
}

<h2>@ViewData["Title"]</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="PR3">
    <div class="form-group" >
        <label for="input">Rules</label>
        <textarea rows="6"  required type="text" class="form-control" id="input" name="input" asp-for="input"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
@if(Model != null)
{
    <div class="container mt-5">
        @if(Model.isSuccessful)
        {
            <div class="row">
                <label for="response">Response</label>
                <input type="text" id="response" value="@Model.response">
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.error))
        {
            <div class="row">
                <label for="error"></label>
                <input type="text" id="error" value="@Model.error">
            </div>
        }
    </div>
}