@model lab5.Models.UserProfileModel

@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>
<h3>Email: @Model.Email</h3>
<h3>First Name: @Model.FirstName</h3>
<h3>Last Name: @Model.LastName</h3>
